
<div id="wrapper">

  <div>
    <h1>ME1</h1>
    <table>
      <thead>
        <tr>
          <td>PROGRAM</td>
          <td>PREVIEW</td>
        </tr>
      </thead>
      <tbody *ngIf="current && current.me1">
        <tr>
          <td>{{ current.me1.program }}</td>
          <td>{{ current.me1.preview }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <h1>ME2</h1>
    <table>
      <thead>
        <tr>
          <td>PROGRAM</td>
          <td>PREVIEW</td>
        </tr>
      </thead>
      <tbody *ngIf="current && current.me1">
        <tr>
          <td>{{ current.me2.program }}</td>
          <td>{{ current.me2.preview }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div *ngIf="current && current.inputs" >
   <div *ngFor="let input of current.inputs"
        class="tallybox"
        [class.program]="input.program"
        [class.preview]="input.preview">
     {{ input.name }}
   </div>
</div>


